<div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        </br>
        <%= render 'shared/errors', obj: @user %>
        <div class="card card-signin my-5">
          <div class="card-body">

            <h5 class="card-title text-center">Create Twitter Account</h5>
            <%= form_for(@user, :html => {class: "form-horizontal form-signin", role: "form"}) do |f| %>

              <div class="form-label-group">
                  <%= f.text_field :name, class: "form-control", placeholder: "Enter name", autofocus: true, required: true %>
                  <%= f.label :name %>
              </div>

              <div class="form-label-group">
                  <%= f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true, required: true %>
                  <%= f.label :username %>
              </div>

              <div class="form-label-group">
                  <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true, required: true %>
                  <%= f.label :email %>
              </div>

              <div class="form-label-group">
                  <%= f.password_field :password, class: "form-control", placeholder: "Enter password", autofocus: true, required: true %>
                  <%= f.label :password %>
              </div>

              <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>

            <% end %>
      </div>
    </div>
  </div>
</div>
