<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p>status</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>status</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <%= form_for(@newTweet, :remote => true) do |f| %>
      <center>
        <div class="field">
          <%= f.text_field :content, autofocus: true, class: 'form-control' %>
          <%= f.submit "Add Tweet" %>
        </div>
      </center>
    <% end %>
    </br></br>
    <% for tweet in @tweets %>
      <div class="card post-panel">
        <div class="card-body row">
          <div class='col-sm-1'>
            <img src='/assets/profile-logo.jpg' class='tweet-profile-logo'>
          </div>
          <div class='col-sm-11'>
            <p class='tweet-title'>
              <span class='tweet-owner'><%= current_user.username %></span>
              <span class='tweet-creation'>
                <%= tweet.created_at.to_formatted_s(:short) %>
              </span
            </p>
            <p class='tweet-content'><%= tweet.content %></p>
          </div>
          <div class='col-sm-12'>
            <p class='tweet-links'>
              <%= link_to 'Reply', '#', data: {toggle: "modal", target: "#replyTweet-" +tweet.id.to_s} %>
              <%= link_to 'Edit', '#', data: {toggle: "modal", target: "#editTweet-" + tweet.id.to_s} %>
              <%= link_to 'Delete', general_path(tweet.id), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to 'View Conversation', conversation_path(
              :id => tweet.id) %>

              <!-- EDIT -->
              <div class="modal fade" id="editTweet-<%= tweet.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLabel">Edit Tweet</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <%= form_for(tweet,  :remote => true) do |f| %>
                      <div class="tweet-modal">
                          <center>
                            <div class="modal-body">
                              <%= f.text_area :content, autofocus: true, class: 'tweet-text-area' %>
                            </div>
                          </center>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit "Update Tweet", :class => 'btn btn-primary' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- EDIT -->

              <!-- REPLY -->
              <div class="modal fade" id="replyTweet-<%= tweet.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLabel">Reply To Tweet
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <%= form_for(Reply.new,  :remote => true) do |f| %>
                      <div class="tweet-modal">
                          <center>
                            <div class="modal-body">
                              <%= f.text_area :content, autofocus: true, class: 'tweet-text-area' %>
                              <%= f.hidden_field :tweet_id, :value => tweet.id %>
                            </div>
                          </center>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit "Reply", :class => 'btn btn-primary' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- REPLY -->

            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p>about</p>
      </div>
    </div>
  </div>
</div>
