<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="card-img">
          <img src='/assets/banner.jpg', style="width:253px;height:80px;">
        </div>
        <div>
          <div class="col-sm-12"><img src='/assets/profile-logo.jpg' class='rounded-img' width='50px' height='50px'>
            <span style="margin-left: 20px;"><%= current_user.username %></span>
          </div>
        </div>
      </div>
    </div>
    </br>
    <div class="card">
      <div class="card-body">
        <h5 style="color: grey; font-size: 125%;">Trends</h5>
        <a href="">#WWENXT</a></br>
        <a href="">Athletico</a></br>
        <a href="">#الحرب_العالميه_الثالثه</a></br>
        <a href="">Rony</a></br>
        <a href="">#NXTonUSA</a></br>
        <a href="">Justin Trudeau</a></br>
        <a href="">Madrid</a></br>
        <a href="">#ProvaDofazendeiro</a></br>
        <a href="">Atlético</a></br>
        <a href="">#MarriageIn4Words</a></br>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card post-panel">
      <div class="card-body row">
        <div class='col-sm-1'>
          <img src='/assets/profile-logo.jpg' class='tweet-main-profile-logo'>
        </div>
        <div class='col-sm-11'>
          <%= form_for(General.new, :remote => true) do |f| %>
              <div class="field" style='margin-left: 10px;'>
                <%= f.text_field :content, autofocus: true, maxlength: 140, class: 'form-control'%>
                <span class= 'btn btn-submit',
                  style="float:right;margin-top:3px;">
                  <%= f.submit "Add Tweet", class:'btn btn-primary' %>
                </span>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <% for tweet in @tweets %>
      <div class="card post-panel">
        <div class="card-body row">
          <div class='col-sm-1'>
            <img src='/assets/profile-logo.jpg' class='tweet-profile-logo'>
          </div>
          <div class='col-sm-11'>
            <p class='tweet-title'>
              <span class='tweet-owner'><%= tweet.user.username %></span>
              <span class='tweet-creation'>
                <%= tweet.created_at.to_formatted_s(:short) %>
              </span
            </p>
            <p class='tweet-content'><%= tweet.content %></p>
          </div>
          <div class='col-sm-12'>
            <p class='tweet-links'>
              <%= link_to '#', data: {toggle: "modal", target: "#replyTweet-" +tweet.id.to_s} do %>
                <%= fa_icon "reply" %>
              <% end %>
              <% if (tweet.user_id == current_user.id) %>
                <%= link_to '#', data: {toggle: "modal", target: "#editTweet-" + tweet.id.to_s} do %>
                  <%= fa_icon "edit" %>
                <% end %>

                <%= link_to tweet_path(tweet.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <%= fa_icon "trash" %>
                <% end %>
              <% end %>

              <%= link_to conversation_path(
              :id => tweet.id) do %>
                <%= fa_icon "comment" %>
              <% end %>

              <%= render 'edit_tweet.html.erb', :tweet => tweet %>
              <%= render 'reply_tweet.html.erb', :tweet => tweet %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p style="opacity:0.5">2019 Twitter About Help Terms Privacy Cookies Ads Info Brand Blog Status Apps Jobs Advertise Businesses Media Developers</p>
      </div>
    </div>
  </div>
</div>
