<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p>status</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>status</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <%= form_for(General.new, :remote => true) do |f| %>
      <center>
        <div class="field">
          <%= f.text_field :content, autofocus: true, maxlength: 140, class: 'form-control' %>
          <%= f.submit "Add Tweet" %>
        </div>
      </center>
    <% end %>
    </br></br>
    <% for tweet in @tweets %>
      <div class="card post-panel">
        <div class="card-body row">
          <div class='col-sm-1'>
            <img src='/assets/profile-logo.jpg' class='tweet-profile-logo'>
          </div>
          <div class='col-sm-11'>
            <p class='tweet-title'>
              <span class='tweet-owner'><%= current_user.username %></span>
              <span class='tweet-creation'>
                <%= tweet.created_at.to_formatted_s(:short) %>
              </span
            </p>
            <p class='tweet-content'><%= tweet.content %></p>
          </div>
          <div class='col-sm-12'>
            <p class='tweet-links'>
              <%= link_to 'Reply', '#', data: {toggle: "modal", target: "#replyTweet-" +tweet.id.to_s} %>
              <%= link_to 'Edit', '#', data: {toggle: "modal", target: "#editTweet-" + tweet.id.to_s} %>
              <%= link_to 'Delete', tweet_path(tweet.id), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to 'View Conversation', conversation_path(
              :id => tweet.id) %>

              <%= render 'edit_tweet.html.erb', :tweet => tweet %>
              <%= render 'reply_tweet.html.erb', :tweet => tweet %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p>about</p>
      </div>
    </div>
  </div>
</div>
