<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <img src="/assets/banner.jpg" class="profile-banner">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div>
          <div class="col-sm-12"><img src='/assets/profile-logo.jpg' class='rounded-img' width='50px' height='50px'>
            <span style="margin-left: 20px;"><%= current_user.username %></span>
          </div>
          </br>
          <span style="opacity: 0.7;">This is a Twitter Clone created by Leo Magsino</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <% for tweet in @tweets %>
      <div class="card post-panel">
        <div class="card-body row">
          <div class='col-sm-1'>
            <img src='/assets/profile-logo.jpg' class='tweet-profile-logo'>
          </div>
          <div class='col-sm-11'>
            <p class='tweet-title'>
              <span class='tweet-owner'><%= current_user.username %></span>
              <span class='tweet-creation'>
                <%= tweet.created_at.to_formatted_s(:short) %>
              </span
            </p>
            <p class='tweet-content'><%= tweet.content %></p>
          </div>
          <div class='col-sm-12'>
            <p class='tweet-links'>
              <%= link_to '#', data: {toggle: "modal", target: "#replyTweet-" +tweet.id.to_s} do %>
                <%= fa_icon "reply" %>
              <% end %>
              <% if (tweet.user_id == current_user.id) %>
                <%= link_to '#', data: {toggle: "modal", target: "#editTweet-" + tweet.id.to_s} do %>
                  <%= fa_icon "edit" %>
                <% end %>

                <%= link_to tweet_path(tweet.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <%= fa_icon "trash" %>
                <% end %>
              <% end %>

              <% if tweet.replies.size > 0 %>
                <%= link_to conversation_path(:id => tweet.id) do %>
                  <%= fa_icon "comment" %>
                <% end %>
              <% end %>

              <%= render 'edit_tweet.html.erb', :tweet => tweet %>
              <%= render 'reply_tweet.html.erb', :tweet => tweet %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 style="color: grey; font-size: 125%;">Who to follow</h5>
        <a href="">@edoromal</a></br>
        <a href="">@jdla</a></br>
        <a href="">@aguevara</a></br>
        <a href="">@slim</a></br>
        <a href="">@mvillacorta</a></br>
        <a href="">@dque</a></br>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 style="color: grey; font-size: 125%;">Trends</h5>
        <a href="">#WWENXT</a></br>
        <a href="">Athletico</a></br>
        <a href="">#الحرب_العالميه_الثالثه</a></br>
        <a href="">Rony</a></br>
        <a href="">#NXTonUSA</a></br>
        <a href="">Justin Trudeau</a></br>
        <a href="">Madrid</a></br>
        <a href="">#ProvaDofazendeiro</a></br>
        <a href="">Atlético</a></br>
        <a href="">#MarriageIn4Words</a></br>
      </div>
    </div>
  </div>
</div>
